.mainContainer {
  width: 100vw;
  height: auto;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  background: linear-gradient(
    to top,
    var(--background-main),
    var(--background-secondary)
  );
}

.question,
.answer {
  font-size: 24px;
  font-weight: bold;
}

.question {
  color: var(--text-main);
}
.answer {
  color: var(--text-secondary);
}

@media (max-width: 700px) {
  .question,
  .answer {
    font-size: 1em;
  }
}
