.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 200px;
  padding: 40px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);

  /* border-top: 1px solid #967f69; */
  background: linear-gradient(to bottom, #001f33 50%, #051622);
}

.footerInfos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
  height: 200px;
  padding: 8px;
  color: var(--text-main);
}

.catchPhrase {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}

.socialMedia {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.navigation {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 24px;
}

.centeredLink {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.catchPhraseLink {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--text-secondary);
  position: relative;
  text-decoration: none;
}

.catchPhraseLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 5px;
  background-color: var(--text-tertiary);

  clip-path: polygon(0 100%, 100% 100%, 100% 40%, 0 80%);

  transform: rotate(3deg) translateY(-3px);
  transform-origin: center;
}

.catchPhraseLink:hover {
  color: var(--text-neutral);
}

.title,
.description {
  color: var(--text-main);
}

.description {
  line-height: 32px;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  gap: 8px;
}

.link:hover {
  color: var(--text-secondary);
}

.logosContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.logo {
  width: auto;
  height: 45px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo:hover {
  transform: scale(1.2);

  filter: drop-shadow(0 4px 8px rgba(222, 185, 146, 0.3));
}
.linkedIn {
  color: #007ebb;
}

.gitHub {
  color: white;
}

.credits {
  font-size: 1.2em;
  color: var(--text-secondary);
}

@media (max-width: 700px) {
  .mainContainer {
    height: 100%;
    margin: 0;
  }
  .footerInfos {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 56px;
  }

  .catchPhrase,
  .socialMedia,
  .navigation {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  .linksContainer {
    align-items: center;
  }
}
