.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 200px;
  padding: 40px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);

  /* border-top: 1px solid #967f69; */
  background: linear-gradient(to top, #001f33 50%, #051622);
}

.footerInfos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 200px;
  padding: 8px;
  color: var(--text-main);
}

.phone,
.socialMedia,
.location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}

.title,
.description {
  color: var(--text-main);
}

.description {
  line-height: 32px;
}

.logosContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 48px;
}

.logo {
  width: auto;
  height: 45px;

  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);

  filter: drop-shadow(0 4px 8px rgba(222, 185, 146, 0.3));
}

.credits {
  font-size: 1.2em;
  color: var(--text-secondary);
}
