.mainContainer {
  color: var(--text-main);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;

  /* border: 1px solid red; */
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style-type: none;
  font-weight: bold;
}
