.mainContainer {
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.leftGroup,
.rightGroup {
  display: flex;
  align-items: center;
}

.leftGroup {
  flex: 2;
}

.rightGroup {
  justify-content: space-between;
  flex: 1;
}

.link {
  text-decoration: none;
  color: var(--text-main);
  position: relative;
  transition: color 0.3s ease;
  margin: 0 15px;
}

.link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 50%;
  background-color: var(--text-main);
  transition: width 0.3s ease, left 0.3s ease;
}

.link:hover::after,
.link.active::after {
  width: 100%;
  left: 0;
}

.link.active {
  color: var(--text-secondary);
}

.logoContainer {
  width: 100%;
  height: 80px;
  opacity: 0;
  opacity: 0;
  transform: translateY(-80px);
  transition: opacity 0.8s ease, transform 0.3s ease;
}

.logoContainer.show {
  opacity: 1;
  transform: translateY(0);
}

.logo {
  width: 100%;
  height: 100%;
  max-height: 150px;
  object-fit: contain;
}
