.mainContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainTitleContainer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  position: relative;
  z-index: 2;
}

.mainTitle {
  font-size: 1.4em;
  color: var(--text-secondary);
}

.serviceContainer {
  width: 88%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 24px 0;
  padding: 0 56px;
  background: rgba(5, 22, 34, 1);
  border: 1px solid var(--text-secondary-darker);
}

.reverse {
  flex-direction: row-reverse;
}

.imageContainer,
.textContainer {
  flex: 2;
}

.voidContainer {
  flex: 0.5;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.picto {
  width: 80%;
  height: auto;
}
.textContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textWrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 24px;
}

.title {
  font-size: 1.4rem;
  color: var(--text-main);
}

.paragraph {
  width: 80%;
  color: var(--text-neutral);
}

@media (max-width: 700px) {
  .serviceContainer {
    flex-direction: column;
    padding: 16px;
  }

  .textContainer {
    width: 100%;
    height: auto;
  }

  .textWrapper {
    width: 100%;
    height: auto;
  }

  .imageContainer {
    width: 96%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mainTitle {
    font-weight: normal;
  }
}
