.mainContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 8vh 0;
}

.splitterContainer {
  width: 75%;
  height: 1px;
  background-color: var(--text-secondary-darker);
}
